@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Regular'), local('BebasNeueRegular'), url('bebasneueregular.woff2') format('woff2'), url('bebasneueregular.woff') format('woff'), url('bebasneueregular.ttf') format('truetype');
    
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Light'), local('BebasNeue-Light'), url('bebasneuelight.woff2') format('woff2'), url('bebasneuelight.woff') format('woff'), url('bebasneuelight.ttf') format('truetype');
    
    font-style: normal;
}

html {
	background-color: #000;
    background-image: url(img/bg-img.png);
    font-family: 'Bebas Neue Light';
    letter-spacing: 5px;
}

body {
    height: 100%;   
}

.greetings,
p,
h1 {
    font-family: 'Bebas Neue Regular';
    letter-spacing: 5px;
    color: #fff;
    font-weight: 400;
}

p {
    font-size: 1.2rem;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25%;
    margin-bottom: 3em;
    background-color: none;
}

nav{
	width: 100%;

}

ul  {
	width: 100%;
    display: flex;
    list-style-type: none;
    padding-inline-start:0;
    align-items: center;
    justify-content: center;

}

ul li {
    margin-right: 50px;
}

li a {
    text-decoration: none;
    font-family: 'Bebas Neue Light';
    letter-spacing: 5px;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
}



.logo img {
    width: 70px;
    height: 70px;  
}

.about_me {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.data {
	width: 100%;
}

.fullname, .knowledge  {
	position: relative;
	left: 30%;
	right: 30%;
	text-align: left;
}



.myImg {
	width: 100%; 
	display: flex;
	align-items: center;
	justify-content: center;
}

.myImg img {
	left: 50%;
	width: 300px;
	align: center;
}



.knowledge {
	color: #fff;
    font-family: 'Bebas Neue Light';
    letter-spacing: 5px;  
    justify-content: center;
    font-weight: 200;
}


.article {
    margin-top: 2em;
    background-color:#ddd;
    padding: 0 3% 0 3%;   
}



.text {
    font-size: 1rem;
    color: #616161;
}

h2 {
    text-align: center;
    color: #616161;
}

h1 {
    color: #fff;
    text-align: center;
    font-size: 2rem;
}

.footer {
    flex: 0 0 auto;
}
